* {
    background-color: rgb(178, 210, 216);
}

ul {
    text-align: center;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    color:black
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .main-title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }

